<div [@routerTransition]>
    <app-page-header [heading]="'Edición/Borrado'" [icon]="'fa-desktop'"></app-page-header>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="card mb-3">
        <div class="card-header">
            Editar/Borrar servicio de limpieza
        </div>
        <div class="card-body">
            <form [formGroup]="registerForm2" (ngSubmit)="onSubmit(registerForm2.value)">
            
                <div class="form-group">
                    <label class="form-control-label" for="inputSuccess">Mes</label>
                    <input type="text" class="form-control form-control-success" formControlName="Mes" id="inputSuccess" [ngClass]="{ 'is-invalid': submitted && f.Mes.errors }" placeholder="Mes">
                    <div *ngIf="submitted && f.Mes.errors" class="invalid-feedback">
                            <div *ngIf="f.Mes.errors.required">El nombre del mes es obligatorio</div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="inputWarning">Monto del servicio</label>
                    <input type="number" class="form-control form-control-warning" formControlName="Monto" id="inputWarning" [ngClass]="{ 'is-invalid': submitted && f.Monto.errors }" placeholder="0.00">
                    <div *ngIf="submitted && f.Monto.errors" class="invalid-feedback">
                            <div *ngIf="f.Monto.errors.required">El valor del monto es obligatorio</div>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary" > Enviar</button>
                <button type="button" class="btn btn-default" (click)="limpiar()">Borrar</button>
            </form>
        </div>
    </div>
</div>
