<div [@routerTransition]>
    <app-page-header [heading]="'Tablas'" [icon]="'fa-table'"></app-page-header>
    <div class="row">

        <div class="col col-xl-6 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">Servicios de limpieza</div>
                <table class="card-body table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Mes</th>
                        <th>Visitantes ($)</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td>"Hola"</td>
                            <td>"Argentina"</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <app-transito></app-transito>

    </div>
</div>
