<div [@routerTransition]>
    <app-page-header [heading]="'Tablas'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-6 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">Servicios de limpieza</div>
                <table class="card-body table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre del servicio</th>
                        <th>Monto</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>{{listado[0].Nombre}}</td>
                        <td>{{listado[0].Monto}}</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>{{listado[1].Nombre}}</td>
                        <td>{{listado[1].Monto}}</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td >{{listado[2].Nombre}} </td>
                        <td>{{listado[2].Monto}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        <div class="col col-xl-6 col-lg-12">
            
        </div>
    </div>
</div>
