<div [@routerTransition]>

    <app-page-header [heading]="'Formularios'" [icon]="'fa-edit'"></app-page-header>


    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-3">
                <div class="card-header">
                    Alta de infracción
                </div>
                <div class="card-body">
                    <app-transito-create></app-transito-create>
                </div>
            </div>

            <!--
            <form role="form">
                <fieldset class="form-group">
                    <label>Text Input</label>
                    <input class="form-control">
                    <p class="help-block">Example block-level help text here.</p>
                </fieldset>

                <fieldset class="form-group">
                    <label>Text Input with Placeholder</label>
                    <input class="form-control" placeholder="Enter text">
                </fieldset>

                <div class="form-group">
                    <label>Nombre del servicio</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <p class="form-control-static">email@example.com</p>
                </div>

                <div class="form-group" >
                    <input type = "text" name = "Nombre" placeholder = "Nombre del servicio" ngModel>
                    <br/>
                    <input type = "number" name = "Monto" placeholder = "Monto del servicio" ngModel>
                    <br/>
                    <input type = "submit" value = "Enviar">
                 </div>



                <fieldset class="form-group">
                    <label>Text area</label>
                    <textarea class="form-control" rows="3"></textarea>
                </fieldset>

                <div class="form-group">
                    <label>Checkboxes</label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value=""> Checkbox 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value=""> Checkbox 2
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value=""> Checkbox 3
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label>Inline Checkboxes</label>
                    <label class="checkbox-inline">
                        <input type="checkbox">1
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox">2
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox">3
                    </label>
                </div>

                <fieldset class="form-group">
                    <label>Radio Buttons</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""> Radio 1
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Radio 2
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"> Radio 3
                        </label>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label>Inline Radio Buttons</label>
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked="">1
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">2
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline3" value="option3">3
                    </label>
                </fieldset>

                <div class="form-group">
                    <label>Selects</label>
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>

                <fieldset class="form-group">
                    <label>Multiple Selects</label>
                    <select multiple="" class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </fieldset>

                <button type="submit" class="btn btn-secondary">Submit Button</button>
                <button type="reset" class="btn btn-secondary">Reset Button</button>

            </form>
        -->

        <div class="card mb-3">
            <div class="card-header">
                Nuevo servicio de limpieza
            </div>
            <div class="card-body">
                <form [formGroup]="registerForm2" (ngSubmit)="onSubmit(registerForm2.value)">

                    <div class="form-group">
                        <label class="form-control-label" for="inputSuccess">Mes</label>
                        <input type="text" class="form-control form-control-success" formControlName="Mes" id="inputSuccess" [ngClass]="{ 'is-invalid': submitted && f.Mes.errors }" placeholder="Mes">
                        <div *ngIf="submitted && f.Mes.errors" class="invalid-feedback">
                                <div *ngIf="f.Mes.errors.required">El nombre del mes es obligatorio</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="inputWarning">Monto del servicio</label>
                        <input type="number" class="form-control form-control-warning" formControlName="Monto" id="inputWarning" [ngClass]="{ 'is-invalid': submitted && f.Monto.errors }" placeholder="0.00">
                        <div *ngIf="submitted && f.Monto.errors" class="invalid-feedback">
                                <div *ngIf="f.Monto.errors.required">El valor del monto es obligatorio</div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary" > Enviar</button>
                    <button type="button" class="btn btn-default" (click)="limpiar()">Limpiar</button>
                </form>
            </div>
        </div>


        </div>


        <div class="col-lg-6">
            <div class="card mb-3">
                <div class="card-header">
                    Nuevo registro de turistas
                </div>
                <div class="card-body">
                    <form [formGroup]="registerFormT" (ngSubmit)="onSubmitT(registerFormT.value)">

                        <div class="form-group">
                            <label class="form-control-label" for="inputSuccess">Mes</label>
                            <input type="text" class="form-control form-control-success" formControlName="mes" id="inputSuccess" [ngClass]="{ 'is-invalid': submitted && ft.mes.errors }" placeholder="Mes">
                            <div *ngIf="submitted && ft.mes.errors" class="invalid-feedback">
                                    <div *ngIf="ft.mes.errors.required">El nombre del mes es obligatorio</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="inputWarning">Cantidad de turistas</label>
                            <input type="number" class="form-control form-control-warning" formControlName="cantidad" id="inputWarning" [ngClass]="{ 'is-invalid': submitted && ft.cantidad.errors }" placeholder="0">
                            <div *ngIf="submitted && ft.cantidad.errors" class="invalid-feedback">
                                    <div *ngIf="ft.cantidad.errors.required">La cantidad de turistas es obligatorio</div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary" > Enviar</button>
                        <button type="button" class="btn btn-default" (click)="limpiar()">Limpiar</button>
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>
